.jumbotron
  %h1 Welcome
  %p
    This is a test for Boutwik!!! Warning, Lorem ipsum are coming.
    %br
    My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.
  #button-wrapper
    .button
      = link_to 'Products', products_path, :class => 'product btn btn-lg btn-success', :role => 'button'
    .button
      = link_to 'Articles', articles_path, :class => 'btn btn-lg btn-success', :role => 'button'